.split-pane > .split-pane-divider {
    -fx-background-color: #282828;
    -fx-border-radius: 5;
}

.split-pane > .split-pane-divider:hover {
    -fx-cursor: hand;
}

.split-pane > .split-pane-divider:hover,
.split-pane > .split-pane-divider:pressed {
    -fx-background-color: #115400;
}

.split-pane > .split-pane-divider:pressed {
    -fx-cursor: closed_hand;
}