.transparent{
    -fx-background-color:rgba(0, 0, 0, 0);
}

.bottom_bar_color{
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #141912, #121212);
}

#songProgressBar > .track {
    -fx-background-color: #B9B9B9;
    -fx-background-radius: 4;
    -fx-scale-x: 0.985;
    -fx-scale-y: 0.3;
}
#songProgressBar > .bar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-padding: 20;
}

#songProgressBar:hover .bar {
    -fx-background-color: #249E00;
}

#songProgressSlider .track {
    -fx-background-color: rgba(0, 0, 0, 0);
}

#songProgressSlider .thumb {
    -fx-background-color: rgba(0, 0, 0, 0);
}

#songProgressSlider:hover .thumb {
    -fx-background-color: #FFFFFF;
}

#shuffleButton:hover, #repeatButton:hover, #previousButton:hover, #playPauseButton:hover, #nextButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#shuffleButton:pressed, #repeatButton:pressed, #previousButton:pressed, #playPauseButton:pressed, #nextButton:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
