.tab {
    -fx-background-color: #282828;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.tab:selected {
    -fx-background-color: #115400;
}

.tab-header-background {
    -fx-background-color: #161616;
    -fx-spacing: 5;
}

.tab-pane {
    -fx-open-tab-animation: grow;
    -fx-close-tab-animation: grow;
}


.tab-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.headers-region {
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}
